@using LandsatReflectance.UI.Components.Basic
<MudDrawer @bind-Open="@IsDrawerExpanded" 
           ClipMode="DrawerClipMode.Never" 
           Variant="@DrawerVariant.Mini"
           Elevation="0" 
           Class="overflow-hidden"
           Style="border-right: 1px solid #353c44">
    <MudNavMenu>
        
        @if (IsDrawerExpanded)
        {
            if (CurrentUserService.IsAuthenticated)
            {
                @RenderAccountInformation(CurrentUserService.FirstName, CurrentUserService.LastName, CurrentUserService.Email)
            }
            else
            {
                @RenderNotLoggedInInfo()
            }
        }

        <br/>
        <br/>
        <br/>

        @if (IsDrawerExpanded)
        {
            <p class="pl-4 text-sm font-bold">
                Platform
            </p>
        }
        <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">
            Home
        </MudNavLink>
        <MudNavLink Href="/Map" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Map">
            Map
        </MudNavLink>
        <MudNavLink Href="/Dashboard" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Dashboard">
            Dashboard
        </MudNavLink>
        <MudNavLink Href="/weather" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List">
            Weather
        </MudNavLink>
    </MudNavMenu>
</MudDrawer>

@code {

    private RenderFragment RenderAccountInformation(string firstName, string lastName, string email) => __builder =>
    {
        var initials = $"{firstName.First()}{lastName.First()}".ToUpper();
        var fullName = $"{firstName} {lastName}";
        
        <MudMenu AnchorOrigin="@Origin.CenterRight"
                 TransformOrigin="@Origin.CenterLeft"
                 Class="w-full">
            <ActivatorContent>
                <div class="w-full flex items-center justify-between gap-2 mt-6 px-2 py-2 hover:bg-[#2f3540]">
                    <MudAvatar Size="Size.Small" Color="Color.Primary">@initials</MudAvatar>

                    <div class="select-none">
                        <p class="text-[0.8rem] font-bold">@fullName</p>
                        <p class="text-[0.65rem]">@email</p>
                    </div>

                    <MudIcon Size="Size.Small" Icon="@Icons.Material.Outlined.ArrowRight" />
                </div>
            </ActivatorContent>
            
            <ChildContent>
                <div class="flex flex-col gap-3 px-2 py-2 bg-[#2a313c] border border-[#353c44]">
                    <div class="flex items-center justify-between gap-2 px-2">
                        <MudAvatar Size="Size.Small" Color="Color.Primary">@initials</MudAvatar>

                        <div class="select-none">
                            <p class="text-[0.8rem] font-bold">@fullName</p>
                            <p class="text-[0.65rem]">@email</p>
                        </div>
                    </div>
                    
                    <MudDivider/>
                    
                    <MudButton StartIcon="@Icons.Material.Filled.AccountCircle" 
                               Size="@Size.Small"
                               Class="flex justify-start pl-2">
                        Account
                    </MudButton>
                    
                    <MudButton StartIcon="@Icons.Material.Filled.Settings"
                               Size="@Size.Small"
                               Class="flex justify-start pl-2">
                        Settings
                    </MudButton>
                    
                    <MudDivider/>

                    <MudButton StartIcon="@Icons.Material.Filled.Logout"
                               Size="@Size.Small"
                               Class="flex justify-start pl-2">
                        Logout
                    </MudButton>
                </div>
            </ChildContent>
        </MudMenu>
    };

    private RenderFragment RenderNotLoggedInInfo() => __builder =>
    {
        <div class="flex flex-col mt-6 px-2 py-2 items-center justify-center">
            <p class="font-bold">You are not currently logged in</p>
            <div class="flex gap-2">
                <TextButton Text="Login" OnClick="@NavigateToLogin" />
                <TextButton Text="Register" OnClick="@NavigateToRegistration" />
            </div>
        </div>
    };

}