
<style>
    .full-page-element {
        top: 0;
        left: 0;
        width: 100vw !important;
        height: 100vh !important;
        z-index: 9999;
    }
</style>

<MudOverlay Visible="@m_isVisible" DarkBackground="@true" Absolute="@true" Class="full-page-element">
    <div class="flex flex-col items-center justify-center gap-2">
        <MudProgressCircular Size="Size.Large" Color="@Color.Primary" Indeterminate="@true"></MudProgressCircular>
        @if (m_overlayMessage is not null)
        {
            <p class="font-bold text-xl text-white" style="white-space: pre-wrap">
                @m_overlayMessage
            </p>
        }
    </div>
</MudOverlay>